/* line 26, _app/assets/themes/curtana/_less/app.less */
.cf:before,
.cf:after {
  display: table;
  content: "";
}
/* line 31, _app/assets/themes/curtana/_less/app.less */
.cf:after {
  clear: both;
}
/* line 37, _app/assets/themes/curtana/_less/app.less */
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* line 45, _app/assets/themes/curtana/_less/app.less */
body {
  padding: 0 22vw;
  margin: 0 auto 0;
  font-family: "Helvetica Neue", Arial, "Hiragino Sans GB", sans-serif;
  font-size: 1.6vw;
  line-height: 1.42857143;
  color: #000000;
  text-rendering: optimizelegibility;
  background: #ffffff;
  image-rendering: optimizequality;
  transition: all .3s ease .2s;
}
@media (max-width: 1000px) {
  /* line 57, _app/assets/themes/curtana/_less/app.less */
  body {
    padding-left: 8vw;
    padding-right: 8vw;
    font-size: 2.24vw;
  }
}
@media (max-width: 640px) {
  /* line 63, _app/assets/themes/curtana/_less/app.less */
  body {
    padding-left: 4vw;
    padding-right: 4vw;
    font-size: 3.84vw;
  }
}
@media (max-width: 400px) {
  /* line 69, _app/assets/themes/curtana/_less/app.less */
  body {
    font-size: 5.12vw;
  }
}
@media (max-device-width: 480px), (max-device-width: 1024px) {
  /* line 74, _app/assets/themes/curtana/_less/app.less */
  body {
    -webkit-text-size-adjust: none;
  }
}
/* line 79, _app/assets/themes/curtana/_less/app.less */
body:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -9999;
  width: 100%;
  height: 1vmax;
  pointer-events: none;
  background: #ff00b4;
  content: "";
  opacity: .2;
}
/* line 94, _app/assets/themes/curtana/_less/app.less */
.heading {
  font-family: "Helvetica Neue", Arial, "Hiragino Sans GB", sans-serif;
  font-size: 330%;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  letter-spacing: -0.06em;
}
/* line 102, _app/assets/themes/curtana/_less/app.less */
.sub-heading {
  font-family: "Helvetica Neue", Arial, "Hiragino Sans GB", sans-serif;
  font-size: 72%;
  font-weight: normal;
  letter-spacing: .08em;
  opacity: .5;
}
/* line 111, _app/assets/themes/curtana/_less/app.less */
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
/* line 122, _app/assets/themes/curtana/_less/app.less */
button,
input,
select[multiple],
textarea {
  background-image: none;
}
/* line 130, _app/assets/themes/curtana/_less/app.less */
a,
button {
  color: #000000;
  text-decoration: none;
  transition: color 0.5s ease, border-color 0.5s ease, background 0.5s ease, opacity 1.5s ease;
}
/* line 135, _app/assets/themes/curtana/_less/app.less */
a:hover,
button:hover,
a:focus,
button:focus {
  border-bottom: .1em solid;
  transition: color 0.1s ease, border-color 0.1s ease, background 0.1s ease, opacity 0.1s ease;
}
/* line 141, _app/assets/themes/curtana/_less/app.less */
a[disabled],
button[disabled] {
  opacity: .4;
  cursor: not-allowed;
}
/* line 147, _app/assets/themes/curtana/_less/app.less */
img,
hr {
  border: 0;
}
/* line 151, _app/assets/themes/curtana/_less/app.less */
del {
  text-decoration: line-through;
}
/* line 155, _app/assets/themes/curtana/_less/app.less */
::-moz-selection {
  color: #ff00b4;
  background: rgba(0, 0, 0, 0.02);
}
::selection {
  color: #ff00b4;
  background: rgba(0, 0, 0, 0.02);
}
/* line 160, _app/assets/themes/curtana/_less/app.less */
::-webkit-input-placeholder {
  color: #000000;
  opacity: .1;
}
/* line 166, _app/assets/themes/curtana/_less/app.less */
.logo {
  display: block;
  height: 1vmax;
  margin: 0 0 1.4vmax;
  background: #ff00b4;
  opacity: 0;
}
/* line 173, _app/assets/themes/curtana/_less/app.less */
.logo:hover,
.logo:focus {
  border-bottom: none !important;
  background: #000000;
  opacity: 1;
}
/* line 180, _app/assets/themes/curtana/_less/app.less */
.logo h1 {
  height: 0;
  text-indent: -99999em;
}
/* line 187, _app/assets/themes/curtana/_less/app.less */
.navigation {
  margin: 0 0 16vmin;
  margin-right: -1.1em;
  margin-left: -1.1em;
  font-size: 60%;
  font-weight: bold;
  letter-spacing: .45em;
  text-transform: uppercase;
}
/* line 196, _app/assets/themes/curtana/_less/app.less */
.navigation li {
  display: inline-block;
  line-height: 2;
  list-style: none;
}
/* line 201, _app/assets/themes/curtana/_less/app.less */
.navigation li a {
  padding: .5em 1.2em;
}
/* line 204, _app/assets/themes/curtana/_less/app.less */
.navigation li a:hover,
.navigation li a:focus {
  color: #ff00b4;
  border: none;
}
/* line 216, _app/assets/themes/curtana/_less/app.less */
.current a {
  color: #ff00b4;
}
/* line 222, _app/assets/themes/curtana/_less/app.less */
body:hover .latest {
  color: #ff00b4 !important;
}
/* line 227, _app/assets/themes/curtana/_less/app.less */
.content .status {
  margin: 1vmin 0 0;
  font-size: 75%;
  font-weight: bold;
}
/* line 232, _app/assets/themes/curtana/_less/app.less */
.content .status:before {
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  margin-right: .8vw;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  content: "";
}
/* line 245, _app/assets/themes/curtana/_less/app.less */
.content .status.available:before {
  background: #0cf;
}
/* line 249, _app/assets/themes/curtana/_less/app.less */
.content .status.available a {
  color: #0cf;
}
/* line 256, _app/assets/themes/curtana/_less/app.less */
.content .status.unavailable:before {
  background: #ccc;
}
/* line 260, _app/assets/themes/curtana/_less/app.less */
.content .status.unavailable a {
  color: #ccc;
}
/* line 267, _app/assets/themes/curtana/_less/app.less */
.content {
  margin-bottom: 16vmin;
}
/* line 26, _app/assets/themes/curtana/_less/app.less */
.content:before,
.content:after {
  display: table;
  content: "";
}
/* line 31, _app/assets/themes/curtana/_less/app.less */
.content:after {
  clear: both;
}
/* line 277, _app/assets/themes/curtana/_less/app.less */
.content article > *:last-child {
  margin-bottom: 0 !important;
}
/* line 281, _app/assets/themes/curtana/_less/app.less */
.content article > *:last-child > *:last-child {
  margin-bottom: 0 !important;
}
/* line 285, _app/assets/themes/curtana/_less/app.less */
.content article > *:last-child > *:last-child > *:last-child {
  margin-bottom: 0 !important;
}
/* line 289, _app/assets/themes/curtana/_less/app.less */
.content article > *:last-child > *:last-child > *:last-child > *:last-child {
  margin-bottom: 0 !important;
}
/* line 301, _app/assets/themes/curtana/_less/app.less */
.content .post-content > *:first-child,
.content .page-content > *:first-child {
  margin-top: 0;
}
/* line 304, _app/assets/themes/curtana/_less/app.less */
.content .post-content > *:first-child > *:first-child,
.content .page-content > *:first-child > *:first-child {
  margin-top: 0;
}
/* line 310, _app/assets/themes/curtana/_less/app.less */
.content a {
  font-weight: bold;
}
/* line 314, _app/assets/themes/curtana/_less/app.less */
.content p {
  margin-bottom: 1.6rem;
  line-height: 1.71428571;
}
/* line 319, _app/assets/themes/curtana/_less/app.less */
.content header {
  padding-bottom: 16vmin;
}
/* line 322, _app/assets/themes/curtana/_less/app.less */
.content header h1 {
  margin: 0 0 .1em;
  font-family: "Helvetica Neue", Arial, "Hiragino Sans GB", sans-serif;
  font-size: 330%;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  letter-spacing: -0.06em;
  -webkit-hyphens: none;
     -moz-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
  line-height: 1.1;
}
@media (max-width: 640px) {
  /* line 328, _app/assets/themes/curtana/_less/app.less */
  .content header h1 {
    font-size: 280%;
  }
}
/* line 333, _app/assets/themes/curtana/_less/app.less */
.content header h1 svg {
  display: block;
  max-width: 100%;
}
/* line 339, _app/assets/themes/curtana/_less/app.less */
.content header h1 svg,
.content header h1 img {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: .3em;
}
@media (max-width: 640px) {
  /* line 346, _app/assets/themes/curtana/_less/app.less */
  .content header h1 svg,
  .content header h1 img {
    width: 100% !important;
    height: 100% !important;
  }
}
/* line 354, _app/assets/themes/curtana/_less/app.less */
.content header .image-title {
  text-indent: -999999px;
  line-height: 0;
}
/* line 359, _app/assets/themes/curtana/_less/app.less */
.content header .latest-post {
  margin-top: 16vmin;
  font-size: 80%;
  font-weight: normal;
  line-height: 1.2;
}
/* line 365, _app/assets/themes/curtana/_less/app.less */
.content header .latest-post a {
  font-weight: bold;
}
/* line 370, _app/assets/themes/curtana/_less/app.less */
.content header small {
  display: block;
  margin-top: 2vmin;
  letter-spacing: .1em;
}
/* line 377, _app/assets/themes/curtana/_less/app.less */
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  margin: 10vmin 0 1rem;
  font-family: "Helvetica Neue", Arial, "Hiragino Sans GB", sans-serif;
  font-size: 72%;
  font-weight: normal;
  letter-spacing: .08em;
  opacity: .5;
}
/* line 382, _app/assets/themes/curtana/_less/app.less */
.content ul,
.content ol {
  margin-bottom: 1.8rem;
  margin-left: 1.2em;
}
/* line 386, _app/assets/themes/curtana/_less/app.less */
.content ul li,
.content ol li {
  line-height: 1.71428571;
}
/* line 389, _app/assets/themes/curtana/_less/app.less */
.content ul li > ul,
.content ol li > ul,
.content ul li ol,
.content ol li ol {
  margin-bottom: 0;
}
/* line 395, _app/assets/themes/curtana/_less/app.less */
.content ol {
  margin-left: 1.75em;
}
/* line 399, _app/assets/themes/curtana/_less/app.less */
.content img,
.content video,
.content iframe {
  display: block;
  max-width: 100%;
  margin: 0 0 1.8rem;
}
@media (max-width: 1000px) {
  /* line 405, _app/assets/themes/curtana/_less/app.less */
  .content img,
  .content video,
  .content iframe {
    margin-left: -8vw;
    margin-right: -8vw;
    max-width: calc(100% + (8vw * 2));
    width: calc(100% + (8vw * 2));
  }
}
@media (max-width: 640px) {
  /* line 412, _app/assets/themes/curtana/_less/app.less */
  .content img,
  .content video,
  .content iframe {
    margin-left: -4vw;
    margin-right: -4vw;
    max-width: calc(100% + (4vw * 2));
    width: calc(100% + (4vw * 2));
  }
}
/* line 420, _app/assets/themes/curtana/_less/app.less */
.content img.no-enlarge,
.content video.no-enlarge,
.content iframe.no-enlarge {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  width: auto;
}
/* line 428, _app/assets/themes/curtana/_less/app.less */
.content blockquote {
  position: relative;
  margin-bottom: 2.8rem;
  margin-left: calc(-0.8em - 2px);
}
@media (max-width: 640px) {
  /* line 433, _app/assets/themes/curtana/_less/app.less */
  .content blockquote {
    margin-left: 0;
  }
}
/* line 437, _app/assets/themes/curtana/_less/app.less */
.content blockquote > p {
  padding-left: .8em;
  border-left: 2px solid;
}
@media (max-width: 640px) {
  /* line 441, _app/assets/themes/curtana/_less/app.less */
  .content blockquote > p {
    padding-left: calc(4vw - 2px);
    padding-right: 4vw;
    margin-left: -4vw;
    margin-right: -4vw;
  }
}
/* line 26, _app/assets/themes/curtana/_less/app.less */
.content blockquote footer:before,
.content blockquote footer:after {
  display: table;
  content: "";
}
/* line 31, _app/assets/themes/curtana/_less/app.less */
.content blockquote footer:after {
  clear: both;
}
/* line 453, _app/assets/themes/curtana/_less/app.less */
.content blockquote cite {
  float: right;
  font-size: 90%;
  font-style: normal;
}
/* line 458, _app/assets/themes/curtana/_less/app.less */
.content blockquote cite:before {
  content: "\2500\2500\00a0";
}
/* line 465, _app/assets/themes/curtana/_less/app.less */
.content hr {
  border-top: 1px solid rgba(204, 204, 204, 0.2);
  margin-top: 2em;
  margin-bottom: 2em;
}
/* line 471, _app/assets/themes/curtana/_less/app.less */
.content sup {
  font-size: 75%;
}
/* line 475, _app/assets/themes/curtana/_less/app.less */
.content abbr {
  border-bottom: 1px dashed;
}
/* line 479, _app/assets/themes/curtana/_less/app.less */
.content code,
.content pre {
  font-family: Menlo, monospace;
  color: #00cc80;
}
/* line 485, _app/assets/themes/curtana/_less/app.less */
.content p code,
.content li code {
  word-break: break-all;
}
/* line 490, _app/assets/themes/curtana/_less/app.less */
.content pre {
  padding: 1em;
  margin: 0 0 1.8rem;
  overflow-x: scroll;
  font-size: 80%;
  line-height: 1.71428571;
  background: rgba(0, 136, 255, 0.04);
  -webkit-overflow-scrolling: touch;
}
@media (max-width: 1000px) {
  /* line 500, _app/assets/themes/curtana/_less/app.less */
  .content pre {
    padding-left: 8vw;
    padding-right: 8vw;
    margin-left: -8vw;
    margin-right: -8vw;
  }
}
@media (max-width: 640px) {
  /* line 507, _app/assets/themes/curtana/_less/app.less */
  .content pre {
    padding-left: 4vw;
    padding-right: 4vw;
    margin-left: -4vw;
    margin-right: -4vw;
  }
}
/* line 518, _app/assets/themes/curtana/_less/app.less */
.content form input {
  display: block;
  width: 100%;
  padding: 1vmin 0;
  margin: 0 0 1.8rem;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
  outline: none;
  transition: padding .2s ease;
}
/* line 530, _app/assets/themes/curtana/_less/app.less */
.content form input:focus {
  padding: 1vmin;
  background: rgba(0, 0, 0, 0.02);
  border-color: #000000;
}
/* line 543, _app/assets/themes/curtana/_less/app.less */
.content input:focus:required:invalid:focus,
.content textarea:focus:required:invalid:focus,
.content select:focus:required:invalid:focus {
  background: rgba(255, 0, 180, 0.05);
  border-color: #ff00b4;
  box-shadow: none;
}
/* line 552, _app/assets/themes/curtana/_less/app.less */
.content table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 90%;
  width: 100%;
  margin: 0 0 1.8rem;
}
/* line 559, _app/assets/themes/curtana/_less/app.less */
.content table th,
.content table td {
  padding: .6em;
}
/* line 564, _app/assets/themes/curtana/_less/app.less */
.content table th {
  border-bottom: 2px solid rgba(0, 0, 0, 0.06);
  text-align: left;
}
/* line 570, _app/assets/themes/curtana/_less/app.less */
.content table td {
  border-top: 1px solid rgba(0, 0, 0, 0.04);
}
/* line 577, _app/assets/themes/curtana/_less/app.less */
:lang(zh),
:lang(ja) {
  text-align: justify;
}
/* line 581, _app/assets/themes/curtana/_less/app.less */
:lang(zh) header,
:lang(ja) header {
  text-align: start;
}
/* line 587, _app/assets/themes/curtana/_less/app.less */
.leading-indent-fix {
  text-indent: -0.39em;
}
/* line 592, _app/assets/themes/curtana/_less/app.less */
.tweet {
  margin-top: 10vmin;
}
/* line 597, _app/assets/themes/curtana/_less/app.less */
.largetype {
  font-family: "Helvetica Neue", Arial, "Hiragino Sans GB", sans-serif;
  font-size: 330%;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  letter-spacing: -0.06em;
  font-size: 200%;
  margin-bottom: 1.8rem !important;
}
/* line 604, _app/assets/themes/curtana/_less/app.less */
.browser {
  position: relative;
  padding-top: 24px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
}
/* line 611, _app/assets/themes/curtana/_less/app.less */
.browser:before {
  position: absolute;
  top: 8px;
  left: 10px;
  display: block;
  width: 8px;
  height: 8px;
  background: #fcdddf;
  border-radius: 50%;
  content: "";
  box-shadow: 16px 0 0 0 rgba(254, 240, 203, 0.96), 32px 0 0 0 rgba(177, 247, 185, 0.96), 0 0 0 1px rgba(156, 11, 21, 0.3), 16px 0 0 1px rgba(147, 108, 4, 0.3), 32px 0 0 1px rgba(11, 107, 22, 0.3);
}
/* line 630, _app/assets/themes/curtana/_less/app.less */
.browser img {
  margin-left: 0;
  margin-right: 0;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.05);
}
@media (max-width: 1000px), (max-width: 640px) {
  /* line 637, _app/assets/themes/curtana/_less/app.less */
  .browser img {
    max-width: 100%;
    width: 100%;
  }
}
/* line 645, _app/assets/themes/curtana/_less/app.less */
.note,
.store,
.download {
  padding-left: .8em;
  margin-left: calc(-0.8em - 2px);
  border-left: 2px solid #ff00b4;
}
@media (max-width: 640px) {
  /* line 652, _app/assets/themes/curtana/_less/app.less */
  .note,
  .store,
  .download {
    padding-left: calc(4vw - 2px);
    padding-right: 4vw;
    margin-left: -4vw;
    margin-right: -4vw;
  }
}
/* line 661, _app/assets/themes/curtana/_less/app.less */
.footnotes {
  border-top: 1px solid rgba(204, 204, 204, 0.2);
  padding-top: 2em;
  margin-top: 2em;
  font-size: 80%;
}
/* line 671, _app/assets/themes/curtana/_less/app.less */
:target [rev=footnote],
:target [rel=footnote],
:target .reversefootnote,
:target .footnote {
  color: #ff00b4;
}
/* line 681, _app/assets/themes/curtana/_less/app.less */
.list {
  display: block;
  margin: 0 0 .4rem;
}
/* line 685, _app/assets/themes/curtana/_less/app.less */
.list h1 {
  font-family: "Helvetica Neue", Arial, "Hiragino Sans GB", sans-serif;
  font-size: 330%;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  letter-spacing: -0.06em;
  font-size: 200%;
  line-height: 1.1;
  opacity: 1;
  margin: 0;
}
@media (max-width: 640px) {
  /* line 693, _app/assets/themes/curtana/_less/app.less */
  .list h1 {
    font-size: 180%;
  }
}
/* line 701, _app/assets/themes/curtana/_less/app.less */
.list .external:hover,
.list .external:focus {
  border: none;
}
@media (max-width: 640px) {
  /* line 706, _app/assets/themes/curtana/_less/app.less */
  .list .external {
    display: none;
  }
}
/* line 715, _app/assets/themes/curtana/_less/app.less */
.external span {
  display: inline-block;
  width: .7rem;
  height: .7rem;
  margin: 0 .1em;
  vertical-align: middle;
  background: #000000;
  border-radius: 50%;
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
}
/* line 729, _app/assets/themes/curtana/_less/app.less */
.external:hover span,
.external:focus span {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}
/* line 735, _app/assets/themes/curtana/_less/app.less */
.footer {
  padding: 0 0 16vmin;
  font-size: 75%;
  text-transform: lowercase;
}
/* line 742, _app/assets/themes/curtana/_less/app.less */
.footer ul li {
  display: inline;
}
/* line 745, _app/assets/themes/curtana/_less/app.less */
.footer ul li:after {
  padding: 0 .6vw;
  content: " / ";
  opacity: .3;
}
/* line 753, _app/assets/themes/curtana/_less/app.less */
.footer ul li:last-child:after {
  content: none;
}
/* line 34, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight pre,
.highlighter-rouge pre {
  background: rgba(229, 138, 202, 0.1);
}
/* line 35, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight code,
.highlighter-rouge code {
  color: #db70bc;
}
/* line 37, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .c,
.highlighter-rouge .c {
  color: #e075bc;
  font-style: italic;
}
/* line 38, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .err,
.highlighter-rouge .err {
  color: #e44e9a;
  background-color: #e3d2d2;
}
/* line 39, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .cm,
.highlighter-rouge .cm {
  color: #e075bc;
  font-style: italic;
}
/* line 40, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .cp,
.highlighter-rouge .cp {
  color: #e075c1;
  font-weight: bold;
}
/* line 41, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .c1,
.highlighter-rouge .c1 {
  color: #e075bc;
  font-style: italic;
}
/* line 42, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .cs,
.highlighter-rouge .cs {
  color: #e075c1;
  font-weight: bold;
  font-style: italic;
}
/* line 43, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .gd,
.highlighter-rouge .gd {
  color: #b34793;
  background-color: #ffdddd;
}
/* line 44, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .gd .x,
.highlighter-rouge .gd .x {
  color: #b34793;
  background-color: #ffaaaa;
}
/* line 45, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .gr,
.highlighter-rouge .gr {
  color: #e64793;
}
/* line 46, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .gh,
.highlighter-rouge .gh {
  color: #e075c1;
}
/* line 47, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .gi,
.highlighter-rouge .gi {
  color: #b34793;
  background-color: #ddffdd;
}
/* line 48, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .gi .x,
.highlighter-rouge .gi .x {
  color: #b34793;
  background-color: #aaffaa;
}
/* line 49, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .go,
.highlighter-rouge .go {
  color: #db70bc;
}
/* line 50, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .gp,
.highlighter-rouge .gp {
  color: #cc61ac;
}
/* line 51, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .gu,
.highlighter-rouge .gu {
  color: #e67ac6;
}
/* line 52, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .gt,
.highlighter-rouge .gt {
  color: #e64793;
}
/* line 53, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .kt,
.highlighter-rouge .kt {
  color: #c761bc;
  font-weight: bold;
}
/* line 54, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .m,
.highlighter-rouge .m {
  color: #b375c1;
}
/* line 55, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .s,
.highlighter-rouge .s {
  color: #f54ca7;
}
/* line 56, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .na,
.highlighter-rouge .na {
  color: #b36eb9;
}
/* line 57, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .nb,
.highlighter-rouge .nb {
  color: #b370c9;
}
/* line 58, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .nc,
.highlighter-rouge .nc {
  color: #c761bc;
  font-weight: bold;
}
/* line 59, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .no,
.highlighter-rouge .no {
  color: #b36eb9;
}
/* line 60, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .ni,
.highlighter-rouge .ni {
  color: #d947b9;
}
/* line 61, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .ne,
.highlighter-rouge .ne {
  color: #e04793;
  font-weight: bold;
}
/* line 62, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .nf,
.highlighter-rouge .nf {
  color: #e04793;
  font-weight: bold;
}
/* line 63, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .nn,
.highlighter-rouge .nn {
  color: #cc61ac;
}
/* line 64, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .nt,
.highlighter-rouge .nt {
  color: #b347b9;
}
/* line 65, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .nv,
.highlighter-rouge .nv {
  color: #b36eb9;
}
/* line 66, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .w,
.highlighter-rouge .w {
  color: #eb7fcb;
}
/* line 67, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .mf,
.highlighter-rouge .mf {
  color: #b375c1;
}
/* line 68, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .mh,
.highlighter-rouge .mh {
  color: #b375c1;
}
/* line 69, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .mi,
.highlighter-rouge .mi {
  color: #b375c1;
}
/* line 70, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .mo,
.highlighter-rouge .mo {
  color: #b375c1;
}
/* line 71, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .sb,
.highlighter-rouge .sb {
  color: #f54ca7;
}
/* line 72, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .sc,
.highlighter-rouge .sc {
  color: #f54ca7;
}
/* line 73, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .sd,
.highlighter-rouge .sd {
  color: #f54ca7;
}
/* line 74, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .s2,
.highlighter-rouge .s2 {
  color: #f54ca7;
}
/* line 75, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .se,
.highlighter-rouge .se {
  color: #f54ca7;
}
/* line 76, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .sh,
.highlighter-rouge .sh {
  color: #f54ca7;
}
/* line 77, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .si,
.highlighter-rouge .si {
  color: #f54ca7;
}
/* line 78, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .sx,
.highlighter-rouge .sx {
  color: #f54ca7;
}
/* line 79, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .sr,
.highlighter-rouge .sr {
  color: #b3759e;
}
/* line 80, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .s1,
.highlighter-rouge .s1 {
  color: #f54ca7;
}
/* line 81, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .ss,
.highlighter-rouge .ss {
  color: #e047b5;
}
/* line 82, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .bp,
.highlighter-rouge .bp {
  color: #e075c1;
}
/* line 83, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .vc,
.highlighter-rouge .vc {
  color: #b36eb9;
}
/* line 84, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .vg,
.highlighter-rouge .vg {
  color: #b36eb9;
}
/* line 85, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .vi,
.highlighter-rouge .vi {
  color: #b36eb9;
}
/* line 86, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .il,
.highlighter-rouge .il {
  color: #b375c1;
}
/* line 87, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .k,
.highlighter-rouge .k {
  font-weight: bold;
}
/* line 88, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .o,
.highlighter-rouge .o {
  font-weight: bold;
}
/* line 89, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .gs,
.highlighter-rouge .gs {
  font-weight: bold;
}
/* line 90, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .kc,
.highlighter-rouge .kc {
  font-weight: bold;
}
/* line 91, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .kd,
.highlighter-rouge .kd {
  font-weight: bold;
}
/* line 92, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .kp,
.highlighter-rouge .kp {
  font-weight: bold;
}
/* line 93, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .kr,
.highlighter-rouge .kr {
  font-weight: bold;
}
/* line 94, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .ow,
.highlighter-rouge .ow {
  font-weight: bold;
}
/* line 95, _app/assets/themes/curtana/_less/module-syntax.less */
.highlight .ge,
.highlighter-rouge .ge {
  font-style: italic;
}
/* line 8, _app/assets/themes/curtana/_less/module-plugins.less */
.loaded .intense-wrap article p > img:not(.no-intense) {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}
/* line 13, _app/assets/themes/curtana/_less/module-plugins.less */
.loaded.intense-open {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}
/* line 19, _app/assets/themes/curtana/_less/module-plugins.less */
.gist {
  font-size: 80% !important;
}
/* line 22, _app/assets/themes/curtana/_less/module-plugins.less */
.gist code,
.gist pre {
  padding: 0;
  color: inherit;
  background-color: transparent;
}
/* line 28, _app/assets/themes/curtana/_less/module-plugins.less */
.gist .gist-data {
  font-family: Menlo, monospace !important;
}
/* line 31, _app/assets/themes/curtana/_less/module-plugins.less */
.gist .gist-data .file-data {
  font-size: 100% !important;
}
/* line 34, _app/assets/themes/curtana/_less/module-plugins.less */
.gist .gist-data .file-data > table {
  margin-bottom: 0 !important;
}
/* line 41, _app/assets/themes/curtana/_less/module-plugins.less */
.gist .highlight {
  font-size: 90% !important;
}
/* line 45, _app/assets/themes/curtana/_less/module-plugins.less */
.gist .markdown-body {
  font-size: 100% !important;
  padding: 1em !important;
}
@media print {
  /* line 4, _app/assets/themes/curtana/_less/module-print.less */
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  /* line 13, _app/assets/themes/curtana/_less/module-print.less */
  body {
    padding: 10mm !important;
    margin: 0 !important;
  }
  /* line 18, _app/assets/themes/curtana/_less/module-print.less */
  a,
  a:visited {
    text-decoration: none;
  }
  /* line 23, _app/assets/themes/curtana/_less/module-print.less */
  .content .post-content,
  .content .page-content {
    max-width: 100% !important;
  }
  /* line 27, _app/assets/themes/curtana/_less/module-print.less */
  .content .post-content a[href]:after,
  .content .page-content a[href]:after {
    content: " (" attr(href) ")";
    font-weight: normal;
  }
  /* line 34, _app/assets/themes/curtana/_less/module-print.less */
  .content .post-content a[href^="#"]:after,
  .content .page-content a[href^="#"]:after,
  .content .post-content a[href^="javascript:"]:after,
  .content .page-content a[href^="javascript:"]:after {
    content: "";
  }
  /* line 39, _app/assets/themes/curtana/_less/module-print.less */
  .content .post-content abbr[title]:after,
  .content .page-content abbr[title]:after {
    content: " (" attr(title) ")";
    font-weight: normal;
  }
  /* line 45, _app/assets/themes/curtana/_less/module-print.less */
  pre,
  blockquote {
    page-break-inside: avoid;
  }
  /* line 50, _app/assets/themes/curtana/_less/module-print.less */
  thead {
    display: table-header-group;
  }
  /* line 54, _app/assets/themes/curtana/_less/module-print.less */
  tr,
  img {
    page-break-inside: avoid;
  }
  /* line 59, _app/assets/themes/curtana/_less/module-print.less */
  img {
    max-width: 100% !important;
  }
  /* line 63, _app/assets/themes/curtana/_less/module-print.less */
  p,
  h2,
  h3,
  h4,
  h5,
  h6 {
    orphans: 3;
    widows: 3;
  }
  /* line 73, _app/assets/themes/curtana/_less/module-print.less */
  h2,
  h3 {
    page-break-after: avoid;
  }
  /* line 78, _app/assets/themes/curtana/_less/module-print.less */
  .navigation,
  .footer {
    display: none;
  }
}
/* line 6, _app/assets/_less/custom.less */
.content h2 {
  font-size: 108%;
  opacity: .8;
}
/* line 7, _app/assets/_less/custom.less */
.content h3 {
  font-size: 96%;
  opacity: .7;
}
/* line 8, _app/assets/_less/custom.less */
.content h4 {
  font-size: 84%;
  opacity: .6;
}
/* line 9, _app/assets/_less/custom.less */
.content h5 {
  font-size: 72%;
  opacity: .5;
}
/* line 10, _app/assets/_less/custom.less */
.content h6 {
  font-size: 60%;
  opacity: .4;
}
/* line 20, _app/assets/_less/custom.less */
.amsf-logo {
  width: 80%;
  height: auto;
}
/* line 25, _app/assets/_less/custom.less */
.amsf-title {
  text-indent: -999999px;
  line-height: 0 !important;
}
/*# sourceMappingURL=app.css.map */